h1 {
    text-align: center;
    margin: 20px;
  }
  
  .container {
    width: 65vh;
    height: 65vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  }
  
  .pixel {
    width: 1fr;
    height: 1fr;
    border-style: solid;
    border-width: 2px;
    
  }
  
  .reset-button {
    display: block;
    max-width: 80px;
    margin: 10px auto;
  }